oj-sp-header-welcome-banner .oj-sp-header-welcome-banner-image-panel {
    position: relative;
    width: 50%;
    background-color: #013315 !important;
}

oj-sp-header-welcome-banner .oj-sp-header-welcome-banner-container {
    position: relative;
    width: 100%;
    min-height: 7.00rem;
    background-color: #013315 !important;
}

.oj-sp-typography-display-6 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.75rem !important;
    font-weight: 400 !important;
    line-height: 0.2858 !important;
}

